<form action="{% url 'polls:vote' question.id %}" method="post">  

    {% csrf_token %} <!-- Cross side request for j, ataque a los formulario. Django la usa para proteger formulario de este ataque -->
    <fieldset>
        <legend> <h1>{{ question.question_text }}</h1> </legend>
        {% if error_message %}
            <p> <strong>{{ error_message }}</strong> </p>
        {% endif %}
        {% for choice in question.choice_set.all  %}
            <input 
                type="radio"
                name="choice"
                id="choice{{ forloop.counter }}" 
                value="{{ choice.id }}" 
            >
            <!-- id="choice{{ forloop.counter }}" es el id con el que manejamos la respuesta en HTML, y choice.id  es el de la base de datos. -->
            <label for="choice{{ forloop.counter }}">
                {{ choice.choice_text }}
            </label>
            <br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Votar">

</form> <!-- Método post para que no todos los datos estén visibles -->

<!-- <h1> {{ question.question_text }} </h1>
<ul>
    {% for choice in question.choice_set.all %}
        <li>
            {{ choice.choice_text }}
        </li>
    {% endfor %}
</ul> -->